# Server
PORT=3004
BASE_URL=https://container.paletten-ms.de
ADMIN_KEY=333

# PostgreSQL
DATABASE_URL=postgresql://postgres:DEIN_PASSWORT@127.0.0.1:5432/containeranmeldung

# Optional
HISTORY_MAX=5000
